body {
    font-family: 'Outfit';
    color: #FFFFFF;
    background-color: #3B0E3F;
    margin: 0;
    padding: 0;
}
.main {
    text-align: center;
    padding: 0px 50px;
}
.nav {
    list-style: none;
    box-shadow: 10px 10px 10px #AE4C6F;
    padding: 0;
    margin: 0;
    transition: all 1s ease;
}
.nav-title {
    cursor: pointer;
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    text-transform: uppercase;
    padding-bottom: 40px;
}
.nav li {
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    padding-bottom: 35px;
}
.section {
    padding-top: 50px;
}
.section-title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    /* or 81px */

    text-transform: capitalize;
}
.section-description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
.section-img {
    object-fit: cover;
    max-height: 243px;
    width: 100%;
    opacity: 0.6;
    filter: drop-shadow(15px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 40px;
}